body {
    background-color: #121212;
    margin: 0px;

    display: flex;
    flex-direction: column;

    height: 100vh;
    -webkit-user-drag: none;
    user-select: none; /* This one prevents dragging in Chrome */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/****** -------------- ******/
/****** Header content ******/
/****** -------------- ******/

.header {
    display: flex;
    background-color: #3b3b3b;
    border-bottom: solid 1px #121212;
}

.dropDown-Content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.dropDown:hover .dropDown-Content {
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    color: whitesmoke;
    background-color: #3b3b3b;
    height: 2.8rem;
    width: 12rem
}

.btn:hover {
    background-color: #525252;
    transition: 0.2s;
}

#logo {
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    text-align: center;
    align-self: center;
    justify-content: center;
    flex: 1;
    padding-right: 12rem;
}

#logoImg {
    width: 32px;
}

#logoTxt {
    font-size: 1.5rem;
}

#aboutOverlay {
    position: fixed;
    display: none;
    flex-direction: column;
    align-self: center;
    width: 100vw;
    height: 75vh;
    top: 15vh;
    background-color: #121212d0;
}

#overlayHeader {
    display: flex;
    justify-content: center;
    padding-top: 11.1rem;
    padding-left: 28.5rem;
}

#overlayTxtContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.overlayTxt {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    padding: 1rem;
    border: solid 1px #3b3b3b;
    background-color: #121212a1;
    font-size: 1.1rem;
    color: #f9f9f9;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlayTxt .attributeSmallTxt {
    font-size: 1rem;
}

a {
    color: #f9f9f9;
}
/****** ---------- ******/


/****** ---------- ******/
/****** Side Bars  ******/
/****** ---------- ******/

#contentMenuContainer {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-left: 1rem;
    align-self: center;
}

.capstone {
    height: 5vw;
    background-color: #3b3b3b;
}

#contentMenuCapTop {
    border-radius: 50% 50% 0 0;
}

#contentMenuCapBot {
    border-radius: 0 0 50% 50%;
}

.contentMenu {
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
    width: 9rem;
    justify-self: center;
    align-self: center;
    height: 70vh;
}

#tools {
    color: #f9f9f9;
    border-bottom: solid 1px #121212;
    text-align: center;
    padding-bottom: 1rem;
}

#colorMenu {
    margin-bottom: 1rem;
}

#colorChoiceTxtContainer {
    padding-top: .5rem;
    display: flex;
    justify-content: center;
}

#colorChoiceContainer {
    padding: 1rem 0.5rem 0 0;
    display: flex;
    justify-content: center;
}

#colorChoice {
    padding: 0;
    --color: black;
    width: 2rem;
    height: 2rem;
    position: relative;
}

#colorChoice::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 150%;
    height: 150%;
    background: var(--color);
    border-radius: 50%;
}

#colorTxt {
    text-align: center;
}

label {
    color: #f9f9f9;
    text-align: center;
}

#colorBtnContainer {
    margin: 0 1rem;
}

.colorBtn {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

#eraserTxt {
    color: #f9f9f9;
    text-align: center;
}

#eraserBtn {
    margin: 0 1rem;
}

#eraserImg {
    width: 32px;
}

.toggleBtn {
    border-bottom: solid 1px #121212;
    border-top: none;
    border-right: none;
    border-left: none;
    color: whitesmoke;
    background-color: #3b3b3b;
    height: 2.8rem;
    width: 9rem
}

.toggleBtn:hover {
    background-color: #525252;
    transition: 0.2s;
}

.toggleBtn.toggleBtnActive {
    background-color: #525252;
}

#toggleBrighten {
    border-top: solid 1px #121212;
    margin-top: 1rem;
}

/****** ---------- ******/


/****** ------------- ******/
/****** Grid/Middle  ******/
/****** ------------- ******/
#contentContainer {
    display: flex;
    flex: 1;
    min-width: min-content;
    justify-content: space-between;
    -webkit-user-drag: none;
}

#gridCenteringContainer {
    margin-left: 1rem;
    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: center;
    padding-right: 9rem;
}

#gridContainer {
    height: 70vh;
    width: 70vh;
    min-height: 100px;
    min-width: 100px;
    margin: 2.8rem 0 2.8rem 0;

    display: flex;
    flex-direction: column;
    align-self: center;

    background-color: whitesmoke;
    border: solid 2px #3b3b3b;
    -webkit-user-drag: none;
    user-select: none; /* This one prevents dragging in Chrome */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.row {
    display: flex;
    flex: 1;
}

.gridSquare {
    flex: 1;
    border: .5px solid rgba(128, 128, 128, 0.5);
    -webkit-user-drag: none;
}

#gridSquareBorderless {
    border: none;
}
/****** ---------- ******/


/****** ------ ******/
/****** footer ******/
/****** ------ ******/
.footer {
    height: 1.5rem;
    border-top: solid 1px #121212;
    background-color: #3b3b3b;
    color: #f9f9f9;
    text-align: center;
}
/****** ------ ******/


/****** --------------------- ******/
/* Quick Color-pick colors/styling */
/****** --------------------- ******/
#black {
    background-color: black;
}
#red {
    background-color: red;
}
#orange {
    background-color: orange;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}
#cyan {
    background-color: cyan;
}
#blue {
    background-color: blue;
}
#purple {
    background-color: purple;
}
/****** --------------------- ******/