body {
    background-color: #121212;
    margin: 0px;

    display: flex;
    flex-direction: column;

    height: 100vh;
}

.header {
    display: flex;
    background-color: #3b3b3b;
    border-bottom: solid 1px #121212;
}

.dropDown-Content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.dropDown:hover .dropDown-Content {
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    color: whitesmoke;
    background-color: #3b3b3b;
    height: 2.8rem;
    width: 12rem
}

.btn:hover {
    background-color: #525252;
    transition: 0.2s;
}

#logo {
    color: whitesmoke;
    text-align: center;
    align-self: center;
    flex: 1;
    padding-right: 12rem;
}

#contentContainer {
    display: flex;
    flex: 1;
    min-width: min-content;
    justify-content: space-between;
}

.contentMenu {
    background-color: #3b3b3b;

    width: 5rem;
}

#gridContainer {
    height: 70vh;
    width: 70vh;
    min-height: 100px;
    min-width: 100px;
    margin: 2.8rem 0 2.8rem 0;

    display: flex;
    flex-direction: column;
    align-self: center;

    background-color: whitesmoke;
}

.row {
    display: flex;
    flex: 1;
}

.gridSquare {
    flex: 1;
    border: .5px solid rgba(128, 128, 128, 0.5);
}

.footer {
    height: 1.5rem;
    border-top: solid 1px #121212;
    background-color: #3b3b3b;
}






/* May be used later for select-box instead of prompt  */
/* #canvasSizeDropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

#resizeCanvas:hover #canvasSizeDropdown {
    display: flex;
} */